@import url("@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Alkalami', serif;
    --text-color: #222;
    --alternate-text-color:#898989
}
  
img {
    display: block;
    width: 100%;
}
h1{
    color: aqua;
}
.wrapper {
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #437a35;
}